.slider1{
    width: 96%;
    position: absolute !important;
    bottom: 2%;
    left: 2%;
}
.slider2{
    height: 92% !important;
    position: absolute !important;
    top: 2%;
    right: 2%;
}
.ColorSelect{
    display: grid;
    grid-template-columns: 112px 112px 112px 112px 112px 112px;
    grid-template-rows: 112px;
    grid-row-gap: 5px;
    height: 112px;
    bottom: 10%;
    position: absolute;
    background-color: #000000;
}
.Color_Selected{
    opacity: 25%;
}

#Rotate_Arrows{
    position: absolute;
    bottom: 10%;
    left: 70%;
    display: grid;
    grid-template-columns: 112px 112px;
    grid-template-rows: 112px;
    grid-row-gap: 5px;
}
.clockwise{
    transform: rotateY(180deg);
}
.arrow {
   position: relative;
   margin: 0 auto;
   width: 50px;
}
  
.arrow .curve {
    border: 10px solid rgb(0, 0, 0);
    border-color: transparent transparent transparent rgb(0, 0, 0);
    height: 80px;
    border-radius: 50px 0 0 50px;
}
 
.arrow .point {
    position: absolute;
    left: 40px;
    top: 60px;
}
 
.arrow .point:before, .arrow .point:after {
    border: 10px solid rgb(0, 0, 0);
    height: 25px;
    content: "";
    position: absolute;
}

.arrow .point:before {
    top: 10px;
    right: 10px;
    transform:rotate(-90deg);
}

.arrow .point:after {
    top: -2px;
    left: -17px;
}